extends ../layouts/default

block content
    .row
        a(href="/auth/github")
            img(src="/img/icons/github.png")
        a(href="/auth/twitter")
            img(src="/img/icons/twitter.png")
        a(href="/auth/google")
            img(src="/img/icons/google.png")
